
<h1>Workouts</h1>
<br><br>
    <% if user_signed_in? %>
        <table class="table table-responsive table-hover">
            <tbody>
                <% @days.each do |day| %>
                    <% if day.user == current_user %>
                        <tr>
                            <td> <h4><%= day.name %></h4> </td>
                            <td style="text-align:right">
                            <%= link_to "START", day, class: "btn btn-success"%>
                            <%= link_to "EDIT", edit_day_path(day), class: "btn btn-secondary"%></td>
                        </tr>
                    <%end %>
                <% end %>
            </tbody>
        </table>
        <%= link_to "ADD", new_day_path , class: "btn btn-primary" %>
    <% else %>
        <p> Esegui il log-in per allenarti </p>
    <% end %>
<br>


