<div id="<%= dom_id day_to_exercise %>">
  <p>
    <strong>Day:</strong>
    <%= day_to_exercise.day_id %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= day_to_exercise.exercise_id %>
  </p>

</div>
