/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .custom-checkbox input {
    position:absolute;
    cursor: pointer;
    opacity: 0;
    width: 0;
    height: 0;
 }

 .checkmark{
    border: 2px solid lightslategray;
    border-radius: 5%;
    opacity: 30%;
    padding: 5px;
    margin-right: 10px;
 }

 .custom-checkbox:hover input ~ .checkmark{
    opacity: 100%;
    border: 2px solid rgb(0, 132, 255);
 }

 .custom-checkbox input:checked ~ .checkmark{
    opacity: 100%;
    border: 2px solid rgb(0, 132, 255);
 }